.petpic{
    max-height: 200px;
    max-width: auto;
    border: solid;
    border-width: 1px;
}

.petlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pet{
    margin: 10px;
}



