<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.username}}</h1>
    <h2>Your Details:</h2>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>First name: {{user.first_name}}</li>
        <li>Last name: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
    <h1>Your Feedback</h1>
    {% for item in feedback %}
        <div class = "feedback-card">
            <h2>{{item.title}}</h2>
            <p>{{item.content}}</p>
            <p>By <i>{{item.username}}</i></p>

        </div>
        {% endfor %}
    
    
    <button onclick="window.location.href='/logout'">Logout</button>
</body>
</html> -->


{% extends 'base.html' %}

{% block title %}Userdetails{% endblock %}

{% block content %}
<h1>Welcome {{user.username}}</h1>
<div class="user-details"><h2>Your Details:</h2>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>First name: {{user.first_name}}</li>
        <li>Last name: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
    <button onclick="window.location.href='/user/{{user.id}}/delete'" >Delete User</button>
</div>


<h1>Your Feedback</h1>
<div class = "feedback-list">
{% for item in feedback %}
    <div class = "feedback-card">
        <h2>{{item.title}}</h2>
        <p>{{item.content}}</p>
        <p>By <i>{{item.username}}</i></p>
        <button onclick="window.location.href='/feedback/{{item.id}}/update'">Edit Feedback</button>
        <button onclick="window.location.href='/feedback/{{item.id}}/delete'">Delete Feedback</button>

    </div>
    {% endfor %}

</div>


<button onclick="window.location.href='/logout'">Logout</button>

{% endblock %}